{% extends 'layout/index.html' %}
{% block content %}
	<section class="places">
		<h1>Places</h1>
		{% for place in places %}
			<article>
				<div class="headline">
					<h2>{{ place.name|e }}</h2>
					<div class="price_by_night">${{ place.price_by_night|e }}</div>
				</div>
				<div class="information">
					<div class="max_guest">
						<div class="guest_icon"></div>
						<p>{{ place.max_guest }} Guests</p>
					</div>
					<div class="number_rooms">
						<div class="bed_icon"></div>
						<p>{{ place.number_rooms }} Bedrooms</p>
					</div>
					 <div class="number_bathrooms">
						<div class="bath_icon"></div>
						<p>{{ place.number_bathrooms }} Bathrooms</p>
					</div>
				</div>
				{% if place.user %}<div class="user"><b>Owner</b>: {{ place.user.first_name|e }} {{ place.user.last_name|e }}</div>{% endif %}
				<div class="description">
					{{ place.description|safe }}
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock content %}
